h1,
h2,
h3,
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  position: relative;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

address {
  margin-top: 20px;
}
