:root {
    --main-color: #212121;
    --text-color: #757575;
    --white-color: #ffffff;
    --active-color: #2196f3;
    --logo-color: #000000;
    --footer-color: rgba(255, 255, 255, 0.6);
    --hero-background: #2f303a;
    --active-button-background: #188ce8;
    --team-background: #f5f4fa;
    --icon-color: #afb1b8;
}